# Environment
.env
.env.dev
.env.local
backend/.env
frontend/.env

# Dependencies
node_modules/
backend/node_modules/

# Logs
npm-debug.log*
*.log

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/extensions.json
.idea/

# Docker
*.pid

# Arquivos
spec.md